body {
	font-family: cursive;
}

.box {
	margin: 10rem;
}

hr {
	width: 0.8rem;
	padding: 0.2rem 0;
	border: 0;
}

.separator {
	width: 3rem;
	padding: 0.2rem 0;
	border: 0;
}

.deb {
	border: 2px dashed blue;
}

.slide {
	display: none;
}

.slide.active {
	display: block;
}
